*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

body {
    width: 100%;
    height: 100vh;
    background: #eee;
    display: flex;
}

.container {
    width: 100%;
    max-width: 120rem;
    margin: auto;
    padding: 0 1.5rem;
}

.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    grid-template-areas: 'img01 img02 img03 img03'
                         'img01 img04 img05 img06'
                         'img07 img07 img08 img06';
}

.image-gallery a {
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.image-gallery a i{
    color: rgba(255,255,255, .6);
    font-size: 3rem;
    position: relative;
    z-index: 150;
    padding: 1rem 3rem;
    border: 2px solid rgba(255, 255, 255, .6);
    border-radius: .4rem;
    opacity: 0;
    transition: 0.5s;
}

.image-gallery a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: 0.5s;
}
.image-gallery a:hover i,
.image-gallery a:hover::before{
    opacity: 1;
}

.img01 {
    grid-area: img01;
    min-height: 51.5rem;
    background-image: url(images/img01.jpg);
}

.img02 {
    grid-area: img02;
    background-image: url(images/img022.jpg);
}

.img03 {
    grid-area: img03;
    background-image: url(images/img03.jpg);
}

.img04 {
    grid-area: img04;
    background-image: url(images/img04.jpg);
}

.img05 {
    grid-area: img05;
    background-image: url(images/img05.jpg);
}

.img06 {
    grid-area: img06;
    min-height: 51.5rem;
    background-image: url(images/img06.jpg);
}

.img07 {
    grid-area: img07;
    background-image: url(images/img07.jpg);
}

.img08 {
    grid-area: img08;
    background-image: url(images/img08.jpg);
}

@media screen and (max-width: 900px) {
    .image-gallery {
        grid-template-areas: 'img01 img01 img02 img02'
                             'img01 img01 img03 img03'
                             'img04 img04 img05 img05'
                             'img06 img07 img07 img07'
                             'img08 img08 img08 img08';

    }

    .image-gallery a{
        height: 20rem;
    }

    .img01 {
        min-height: 41.5rem;
    }

    .img06 {
        min-height: 20rem;
    }

}

@media screen and (max-width: 600px) {
    .image-gallery {
        grid-template-areas: 'img01 img01 img01 img01'
                             'img02 img02 img02 img02'
                             'img03 img03 img03 img03'
                             'img04 img04 img04 img04'
                             'img05 img05 img05 img05'
                             'img06 img06 img06 img06'
                             'img07 img07 img07 img07'
                             'img08 img08 img08 img08';

    }

    .image-gallery a, 
    .img01,
    .img06 {
        min-height: 30rem;
        height: 30rem;
    }

   

}